/*timeline*/
.red-border{border:1px solid red;}
.status-form, .status-container{padding:15px;}
.status-btn, .reply-btn{margin:0 10px;}
.avatar {margin:0 6px 0 0;}
.status-item {border-bottom: 1px solid #cacaca;padding:20px;}
.list-inline{margin:10px 0}
textarea{padding:5px 0;}

.status-reply{padding:10px;/*background:#f5f5f5;*/}
.status-reply a {text-align:center;}
.status-reply img{width:80%;}

/*profile*/
.profile-img{width:100px;height:100px;}
.status-item .profile-img {width:70px;height:70px;}
.status-reply .profile-img {width:50px;height:50px;}